.ps-container {
  display: flex;
}

.ps-margin {
  margin: 1rem;
}
.ps-margin-bottom {
  margin-bottom: 1rem;
}

.ps-center {
  justify-content: center;
}

.ps-space-around {
  justify-content: space-around;
}

.ps-space-evenly {
  justify-content: space-evenly;
}

.ps-flex-wrap {
  flex-wrap: wrap;
}

.ps-flex-none {
  flex: none;
}

.ps-align-center {
  align-items: center;
}

.ps-modal-background {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ps-buttons-box {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border-radius: 6px;
  padding: 1rem 1rem 0.5rem;
  background: white;
}

.ps-inline-field {
  display: flex;
  align-items: center;
}

.ps-inline-label {
  margin-right: 1rem;
  font-weight: bold;
}