.ps-container {
  display: flex;
}

.ps-center {
  justify-content: center;
}

.ps-space-around {
  justify-content: space-around;
}

.ps-space-evenly {
  justify-content: space-evenly;
}

.ps-flex-wrap {
  flex-wrap: wrap;
}

.ps-flex-none {
  flex: none;
}